// Single side border-radius

@mixin border-radius($radius: $border-radius) {
  @if $enable-rounded {
    border-radius: $radius;
  }
}

@mixin border-top-radius($radius) {
  @if $enable-rounded {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
  }
}

@mixin border-right-radius($radius) {
  @if $enable-rounded {
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
  }
}

@mixin border-bottom-radius($radius) {
  @if $enable-rounded {
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
  }
}

@mixin border-left-radius($radius) {
  @if $enable-rounded {
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
  }
}

//--------------------------ここからカスタマイズ追加分
// 左上の角丸
@mixin border-tl-radius($radius) {
  @if $enable-rounded {
    border-top-left-radius: $radius;
  }
}
// 右上の角丸
@mixin border-tr-radius($radius) {
  @if $enable-rounded {
    border-top-right-radius: $radius;
  }
}
// 左下の角丸
@mixin border-bl-radius($radius) {
  @if $enable-rounded {
    border-bottom-left-radius: $radius;
  }
}
// 右下の角丸
@mixin border-br-radius($radius) {
  @if $enable-rounded {
    border-bottom-right-radius: $radius;
  }
}